.about {
    text-align: left;
    padding: 0% 10% 0% 10%;
    background-color: #B3DEE5;
}
.aboutContainer {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.about-title {
    font-size: 6em;
    color: #FFA101;
    margin-bottom: 2em;
}
.about p {
    line-height: 130%;
    /* border-style:dotted; */
    margin: 0 0 0 20%;
    text-align: left;
}
#profileImage {
    float: left;
    max-height: 500px;
    transition-duration: 0.5s;
}
.aboutTextContainer {
    /* border-style: double; */
    padding: 2% 2% 2% 2%;
}
.about-text-paragraph {
    font-size: 1.4em;
}
.logoContainer {
    /* display: flex; */
    display: inline-flex;
    width:100%;
    /* border-style: dashed; */
    /* color: blue; */
    justify-content: center;
    padding: 4% 0 4% 0;
}
.aboutLogo {
    max-height: 40px;
    /* border-style: solid;
    color:red; */
}
.spacer {
    width: 15%;
}
