<div class="about" id="nav_about">
    <div class="aboutContainer">
        <div class="aboutImageContainer">
            <img id="profileImage" src="assets/images/stickperson.jpg" alt="John Picture">
            <div class="logoContainer">
                <a href="https://www.linkedin.com/in/johnshizhu/"><img class="aboutLogo" src="../../assets/images/linkedinlogo.png" alt="linkedin sticker"></a>
                <div class="spacer"></div>
                <a href="https://github.com/johnshizhu/"><img class="aboutLogo" src="../../assets/images/githublogo.png" alt="github sticker"></a>
                <div class="spacer"></div>
                <a href="assets/images/resumewebjohn"><img class="aboutLogo" src="../../assets/images/resumeicon.png" alt="resume logo"></a>
            </div>
        </div>        
        <div class="aboutTextContainer">
            <h1>About</h1>
            <h3>Software Engineer | Biologist | Researcher</h3>
            <p>
                Hey! I'm John, pleasure to have you here. I am a software engineer
                interested in leveraging the power of coding both better understand
                and change the world around me. I graduated from UNC Chapel Hill
                in 2022 studying biology and computer science. 
                <br><br>
                I am currrently working as a researcher in the Shiau lab at UNC however
                am looking for a position as a software engineer.                 
                <br><br>
                I am primarily interested
                in application development, machine learning/AI application in science, 
                and making science more accesibility.
            </p>
        </div>
    </div>
</div>