<div class="about" id="nav_about">
    <div class="aboutContainer">
        <div class="aboutImageContainer">
            <img id="profileImage" src="assets/images/crash_pad_image_crop.jpg" alt="John Picture">
            <div class="logoContainer">
                <a href="https://www.linkedin.com/in/johnshizhu/"><img class="aboutLogo" src="../../assets/images/linkedinlogo.png" alt="linkedin sticker"></a>
                <div class="spacer"></div>
                <a href="https://github.com/johnshizhu/"><img class="aboutLogo" src="../../assets/images/githublogo.png" alt="github sticker"></a>
                <div class="spacer"></div>
                <a href="assets/images/John Zhu Resume.pdf"><img class="aboutLogo" src="../../assets/images/resumeicon.png" alt="resume logo"></a>
            </div>
        </div>        
        <div class="aboutTextContainer">
            <p class="about-title">About</p>
            <p class="about-text-paragraph">
                Hey! I'm John. I am a computer science graduate student 
                interested in leveraging the power of code both better understand
                and change the world around me.
                <br><br>
                I am primarily interested in software development, machine learning/AI 
                application in science, and making science more accessible.
                <br><br>
                Outside of computers and biology, I love to rock climb!
            </p>
        </div>
    </div>
</div>