<div class="about" id="nav_about">
    <div class="aboutContainer">
        <div class="aboutImageContainer">
            <img id="profileImage" src="assets/images/crash_pad_image_crop.jpg" alt="John Picture">
            <div class="logoContainer">
                <a href="https://www.linkedin.com/in/johnshizhu/"><img class="aboutLogo" src="../../assets/images/linkedinlogo.png" alt="linkedin sticker"></a>
                <div class="spacer"></div>
                <a href="https://github.com/johnshizhu/"><img class="aboutLogo" src="../../assets/images/githublogo.png" alt="github sticker"></a>
                <div class="spacer"></div>
                <a href="assets/images/John Zhu Resume.pdf"><img class="aboutLogo" src="../../assets/images/resumeicon.png" alt="resume logo"></a>
            </div>
        </div>        
        <div class="aboutTextContainer">
            <p class="about-title">John Zhu</p>
            <ul class="about-subtitle">
                <li><span style="color: #CC0000;">North Carolina State University</span> '25, Master's of Science</li>
                <li><span style="color: #4B9CD3;">University of North Carolina</span> '22, Bachelor's of Science</li>
            </ul>
            <p class="about-text-paragraph">
                I'm currently a graduate student at NCSU working toward my Master's of Science in Computer Science.
                <br><br>
                I am primarily interested in Software engineering, Machine Learning, and AI.
                <br><br>
                Feel free to reach out! (contact top right)
                
            </p>
        </div>
    </div>
</div>