<div id="nav_timeline"></div> 
  <div id=timeline>
	<h1>Timeline</h1>
	<p class="leader">Here is a quick summary of my experience...</p>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>2023</span>
				</div>
				<h2><span class="small">Master of Science in CS</span> NC State University</h2>
			</div>
			<div class="body">
				<p>I am currently a graduate student at NC State University studying computer science.
                    I am primarily interested in studying deep learning, including virtual training environments. 
                </p>
				<img class="timeline-image" src="assets/images/NCSU_seal.jpg" alt="NCSU">
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>2023</span>
				</div>
				<h2><span class="small">Database Engineering Intern</span> Arch MI</h2>
			</div>
			<div class="body">
				<p>I worked as a Database Engineering Intern where I developed and deployed a Self-Documenting Database Solution
                    that inventories 2300+ databases and generates a PowerBI Report.
                </p>
				<img class="timeline-image" src="assets/images/arch-mortgage-logo-vector.png" alt="Arch MI">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>2022</span>
				</div>
				<h2><span class="small">Research Assistant</span> UNC Shiau Lab</h2>
			</div>
			<div class="body">
				<p>As a research assistant in the Shiau lab, I worked on creating CRISPR-Cas9 gene edited fish lines
                    as well in order to research the macrophage activation and recruitment in zebrafish model.</p>
				<img class="timeline-image" id="shiau-lab" src="assets/images/UNC_shiau_lab.png" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>2022</span>
				</div>
				<h2><span class="small">Undergraduate</span> UNC Chapel Hill</h2>
			</div>
			<div class="body">
				<p>I completed my undergraduate studied at UNC, graduating cum laude with a gpa of 3.51
                    majoring in Biology, with minors in computer science and chemistry.</p>
				<img class="timeline-image" src="assets/images/UNC_small.png" alt="UNC GRAD">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>2019</span>
				</div>
				<h2><span class="small">Undergraduate</span> UNC Charlotte</h2>
			</div>
			<div class="body">
				<p>I did my first year of undergraduate study at UNC Charlotte. I had the opportunity to 
                    go on a GB trip to Panama to provide medical service to underpriviledged communities. 
                </p>
				<img class="timeline-image" src="assets/images/uncc_seal_small.png" alt="UNCC BRIGADES">
			</div>
		</div>
	</div>
</div>