<div class="timeline-box" id="nav_timeline">
    <div class="timeline-title">
        <p id="timeline-main-title">
            Timeline
        </p>
        <p id="timeline-subtitle">
            Here is a quick summary of my experience...
        </p>
    </div>
    <div class="container-left-state">
        <div class="content">
            <p class="timeline-content-title-left">Fall 2023 North Carolina State University</p>
            <p>I am currently a graduate student at NC State University studying computer science.</p>
            </div>
        </div>
    <div class="container-right-arch">
        <div class="content">
            <p class="timeline-content-title-right">Summer 2023 Arch Mortgage Insurance</p>
            <p>
                I was a database engineering intern at arch where I worked on automated database documentation
                and integration of ServiceNow CMDB.
            </p>
        </div>
      </div>
    <div class="container-left-shiau">
        <div class="content">
            <p class="timeline-content-title-left">2022 - 2023 Shiau Lab</p>
            <p>
                As a research assistant in the Shiau lab, I worked on creating CRISPR-Cas9 gene edited fish lines
                as well in order to research the macrophage activation and recruitment in zebrafish model.
            </p>
        </div>
    </div>
    <div class="container-right-UNC">
        <div class="content">
            <p class="timeline-content-title-right">2019 - 2022 University of North Carolina at Chapel Hill</p>
            <p>
                I completed my undergraduate studied at UNC, graduating cum laude with a gpa of 3.51
                majoring in Biology, with minors in computer science and chemistry.
            </p>
        </div>
    </div>
    <div class="container-left-UNCC">
        <div class="content">
            <p class="timeline-content-title-left">2018 University of North Carolina at Charlotte</p>
            <p>I did my first year of undergraduate study at UNC Charlotte.</p>
        </div>
    </div>
  </div>

  
