<div class="projects" id="nav_projects">
    <h1 id="projectsTitle">Personal Projects</h1>
    <p id="projects-subtitle">Portfolio</p>
    <div class="projects-container">
        <div class="projects-grid">
            <div class="projects-tile" id="fridge-tile">
                <div class="projects-tile-content">
                    <p class="projects-tile-title">Fridge</p>
                    <p class="projects-tile-description">Laboratory Inventorying Application</p>
                </div>            
            </div>
            <div class="projects-tile" id="ml-tile">
                <div class="projects-tile-content">
                    <p class="projects-tile-title">Machine Learning</p>
                    <p class="projects-tile-description">ML Placeholder</p>
                </div>
            </div>
            <div class="projects-tile">
                <div class="projects-tile-content">
                    <p class="projects-tile-title">Portfolio</p>
                    <p class="projects-tile-description">Personal Website</p>
                </div>
            </div>
            <div class="projects-tile">
                <div class="projects-tile-content">
                    <p class="projects-tile-title">Bioalgorithms</p>
                    <p class="projects-tile-description">Bioinformatic Algorithms</p>
                </div>
            </div>
            <div class="projects-tile">
                <div class="projects-tile-content">
                    <p class="projects-tile-title">Something Else</p>
                    <p class="projects-tile-description">Something Else</p>
                </div>
            </div>
        </div>
    </div>
</div>
