<div class="projects" id="nav_projects">
    <h1 id="projectsTitle">Projects</h1>
    <mat-tab-group id="tabGroup" >
        <mat-tab label="Fridge">
            <div class="tabContent">
                <div class="tabText">
                    <p class="tab-title">Fridge</p>
                    <p>Stack: HTML/CSS | Javascript | Node.js | Express.js | Microsoft SQL Server</p>
                    <p>
                        The idea for Fridge came from working in a laboratory as a researcher. When doing experiments, particularly
                        in biological research, there are nearly an infinite amount of chemicals and reagnets you will go through 
                        in order to achieve your research goals. Unfortunately this means that as a lab ages and these reagents 
                        accumulate in the fridge, keeping track of and finding older, possible very vital reagents becomes nearly
                        impossible. 
                        
                        <br><br>
                        Fridge is a laboratory fridge organization web application. Users are able to create an account, 
                        create fridges, boxes, and of course reagents, and are able to search through their information as well. 
                    </p>
                </div>
                <div class="tabImage">
                    <img id="fridgeImage" src="assets/images/Fridge_Dash_SC.png" alt="Fridge Application">
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Calculator">
            <div class="tabContent">
                <div class="tabText">
                    <p class="tab-title">Calculator</p>
                    <p>Stack: Angular</p>
                    <p>
                        Product of my early attmpets at learning angular, just a simple calculator webb application 
                    </p>
                </div>
                <div class="tabImage">
                    <img id="calcimage" src="assets/images/calculatorcrop.png" alt="Calcualtor Application">
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Portfolio">
            <div class="tabContent">
                <div class="tabText">
                    <p class="tab-title">Portfolio</p>
                    <p>Stack: Angular</p>
                    <p>Take a look around :D</p>
                </div>
                <div class="tabImage"></div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
