<div class="projects" id="nav_projects">
    <h1 id="projectsTitle">Personal Projects</h1>
    <p id="projects-subtitle">Portfolio</p>
    <div class="projects-container">
        <div class="projects-grid">
            <div class="projects-tile" id="fridge-tile" (click)="fridgeLink()">
                <div class="projects-tile-content">
                    <p class="projects-tile-title" id="projects-fridge-title">Fridge</p>
                    <p class="projects-tile-description" id="projects-fridge-description">Laboratory Inventorying Application</p>
                </div>            
            </div>
            <div class="projects-tile" id="ml-tile" (click)="mlLink()">
                <div class="projects-tile-content">
                    <p class="projects-tile-title" id="projects-ml-title">Machine Learning</p>
                    <p class="projects-tile-description" id="projects-ml-description">ML Placeholder</p>
                </div>
            </div>
            <div class="projects-tile" id="portfolio-tile" (click)="portfolioLink()">
                <div class="projects-tile-content">
                    <p class="projects-tile-title" id="projects-portfolio-title">Portfolio</p>
                    <p class="projects-tile-description" id="projects-portfolio-description">Personal Website</p>
                </div>
            </div>
            <div class="projects-tile" id="bioalgorithms-tile" (click)="bioalgorithmsLink()">
                <div class="projects-tile-content">
                    <p class="projects-tile-title" id="projects-bioalgorithms-title">Bioalgorithms</p>
                    <p class="projects-tile-description" id="projects-bioalgorithms-description">Bioinformatic Algorithms</p>
                </div>
            </div>
            <div class="projects-tile">
                <div class="projects-tile-content">
                    <p class="projects-tile-title">Something Else</p>
                    <p class="projects-tile-description">Something Else</p>
                </div>
            </div>
        </div>
    </div>
</div>
