.contact {
    background-color: #FAE6B1;
}
.contactGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 3% 20% 3% 20%;
}
.contactGridTile {
    padding: 0 5% 0 5%;
}
#informationTile {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
#leftForms {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}
#rightForms {
    grid-column: 2/3;
    grid-row: 2/3;
}
.leftInput {
    padding: 1em;
    border: none;
    border-radius: 10px;
}
.leftInput:focus {
    outline: none;
}
.rightInput {
    width: 100%;
    padding: 1em;
    height: 84%;
    border-radius: 10px;
    border: none;
}
.rightInput:focus {
    outline: none;
}
#leftMiddle {
    margin: 3% 0 3% 0;
}