.color-transition {
    height: 150px; 
    background-image: linear-gradient(whitesmoke, #212529);
}
.contact {
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 0 3em 0;
    color: gainsboro;
}
.contact-upper {
    text-align: center;
    line-height: 2em;
    width: 30vw;
}
.contact-title {
    font-size: 3rem;
    padding-bottom: .5em;
    color: #FFA101;
}
.contact-subtitle {
    font-size: 1.2rem;
    text-align: left;
    padding-bottom: 1.2em;
}
.contact-content {
    width: 30vw;
    font-size: 1.2rem;
    line-height: 3em;
}
.email-form {
    display: flex;
    flex-direction: column;
}
.contact-form-label {
    font-size: 1.6rem;
}
.contact-form-single-box {
    height: 3.5rem;
    font-size: 1.4rem;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.contact-form-single-box:focus {
    outline: none;
    border: 3px solid #FFA101;
    transition-duration: 0.1s;
}
.contact-form-message {
    font-size: 1.4rem;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 1em;
}
.contact-form-message:focus {
    outline: none;
    border: 3px solid #FFA101;
    transition-duration: 0.1s;
}
.contact-submit-button {
    height: 3rem;
    border-radius: 10px;
    font-size: 1.2rem;
    width: 100px;
    margin-left: auto;
    background-color: #FFA101;
    transition-duration: 0.1s;
}
.contact-submit-button:active {
    filter: brightness(80%);
    transition-duration: 0.1s;
}
