<div class="skills" id="nav_skills">
    <h1 id="skillsTitle">Skills</h1>
    <p id="skills-subtitle">Here are some of my skills, and I'm always looking to learn more!</p>
    <div class="skills-container">
        <div class="skills-grid">
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/Python-Transparent-Background.png" alt="Python sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>Python</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                        My primary language. I have used Python for a multitude of applications including
                        DNA sequence alignment, genome sequencing, peptide sequencing, and gene location determination. 
                        I am also familiar with NumPy, Pandas, Matplotlib, and Tensorflow for ML.
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/java-14-logo-png-transparent.png" alt="Java sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>Java</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            My first Programming language. I have used java for over 5 years, for a variety of contexts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/pngegg.png" alt="Javascript sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>HTML | Javascript | CSS</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            I have used HTML, javascript, and CSS for the past 3 years in developing many web applications. 
                            You can checkout some examples listed in the <a id="skills-link" href="#nav_projects">projects</a> section.
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/nodejs-1-logo.png" alt="Node sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>Node js</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            I have extensive experience using Node as the backend to many of my projects and have used many of the libraries available 
                            including Express, Parser, bcrypt and more. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/angular logo.png" alt="Angular sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>Angular</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            Angular is my frontend framework of choice. I first learned angular as part of creating one of my first full stack applications
                            to make use of its modularity and organization. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/Sql_data_base_with_logo.png" alt="SQL sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>SQL</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            I have multiple years experience using SQL and SQL related databases, including Microsoft SQL Server and MySQL. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>