.skills {
    background-color: #31525B;
    color: white;
    padding: 5% 10% 2% 10%;
}
#skillsTitle {
    text-align: center;
    font-size: 50px;
    padding: 0 0 3% 0;
}
.skillsGrid {
    text-align: center;
}
.skillsFlex {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: justify;
    /* border-style: dashed; */
    width: 80%;
    height: 90%;
    margin: 0;

}
.skillsImage {
    max-width: 350px;
    height:170px;
    /* background-color: indigo; */
    object-fit: contain;
    /* border-style: groove; */
}
.skillsTitle h1 {
    /* background-color: green; */
    padding: 5% 0 0 0;
    font-size:x-large;
    text-align: center;
}
#skills-link {
    text-decoration: none;
    color: #FFA101;
    transition-duration: .3s;
}
#skills-link:hover{
    font-size: 1.1em;
    transition-duration: 0.3s;
}


.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
