<div class="skills" id="nav_skills">
    <h1 id="skillsTitle">Skills</h1>
    <p id="skills-subtitle">Here are some of my skills, and I'm always looking to learn more!</p>
    <div class="skills-container">
        <div class="skills-grid">
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/Python-Transparent-Background.png" alt="Python sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>Python</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                        My primary language. I have used python to write software implementing neural networks from scratch, 
                        fundamental AI (bayes nets, RL, etc.), bioinformatics, etc. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/deep-learning.png" alt="Python sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>Deep Learning & Neural Networks</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                        My work in deep learning has consisted of training NN for many tasks, including computer vision, 
                        NLP, and unsupervised categorization tasks. I have also constructed from scratch heterogeneous graph
                        transformer, where I analyzed architecture performance as well as potential optimizations. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/java-14-logo-png-transparent.png" alt="Java sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>Java</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            My first Programming language. I have used java for over 5 years, for a variety of contexts.
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/pngegg.png" alt="Javascript sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>HTML | Javascript | CSS</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            I have used HTML, javascript, and CSS for the past 3 years in developing many web applications. 
                            You can checkout some examples listed in the <a id="skills-link" href="#nav_projects">projects</a> section.
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/nodejs-1-logo.png" alt="Node sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>Node js</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            I have extensive experience using Node as the backend to many of my projects and have used many of the libraries available 
                            including Express, Parser, bcrypt and more. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/React-icon.png" alt="Angular sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>React/Angular</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            I have experience using React and Angular for frontend development work. This includes personal projects including this porfolio,
                            as well as other projects such as daily bounty build with other developers. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="skills-grid-block">
                <div class="skillsFlex">
                    <div class="skillsImageContainer">
                        <img class="skillsImage" src="assets/images/Sql_data_base_with_logo.png" alt="SQL sticker">
                    </div>
                    <div class="skillsTitle">
                        <h1>SQL</h1> 
                    </div>
                    <div class="skills-content">
                        <p>
                            I have multiple years experience using SQL and SQL related databases, including Microsoft SQL Server and MySQL. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>