<div class="skills" id="nav_skills">
    <h1 id="skillsTitle">Skills</h1>
    <mat-grid-list cols="3" rowHeight="2:1.6" class="skillsGrid">
        <mat-grid-tile class="skillsTile">
            <div class="skillsFlex">
                <div class="skillsImageContainer">
                    <img class="skillsImage" src="assets/images/Python-Transparent-Background.png" alt="Python sticker">
                </div>
                <div class="skillsTitle">
                    <h1>Python</h1> 
                </div>
                <div class="skillsCont">
                    <p>
                    My primary language I code with. I picked up python midway through university and have used it for a multitude of applications including
                    DNA sequence alignment, genome sequencing, peptide sequencing, and gene location determination.
                    </p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="skillsTile">
            <div class="skillsFlex">
                <div class="skillsImageContainer">
                    <img class="skillsImage" src="assets/images/java-14-logo-png-transparent.png" alt="Java sticker">
                </div>
                <div class="skillsTitle">
                    <h1>Java</h1> 
                </div>
                <div class="skillsCont">
                    <p>
                        Your first coding language holds a special place in your heart and java was the one for me. I have used java for over 5 years, using it in
                        many different contexts.
                    </p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="skillsTile">
            <div class="skillsFlex">
                <div class="skillsImageContainer">
                    <img class="skillsImage" src="assets/images/pngegg.png" alt="Javascript sticker">
                </div>
                <div class="skillsTitle">
                    <h1>HTML | Javascript | CSS</h1> 
                </div>
                <div class="skillsCont">
                    <p>
                        I have used HTML, javascript, and CSS for the past 3 years in developing many web applications. On top of javascript, I have 

                    </p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="skillsTile">
            <div class="skillsFlex">
                <div class="skillsImageContainer">
                    <img class="skillsImage" src="assets/images/nodejs-1-logo.png" alt="Node sticker">
                </div>
                <div class="skillsTitle">
                    <h1>Node js</h1> 
                </div>
                <div class="skillsCont">
                    <p>
                        I have extensive experience using Node as the backend to many of my projects and have used many of the libraries available 
                        including Express, Parser, bcrypt and more. 
                    </p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="skillsTile">
            <div class="skillsFlex">
                <div class="skillsImageContainer">
                    <img class="skillsImage" src="assets/images/angular logo.png" alt="Angular sticker">
                </div>
                <div class="skillsTitle">
                    <h1>Angular</h1> 
                </div>
                <div class="skillsCont">
                    <p>
                        Angular is my frontend framework of choice. I first learned angular as part of creating one of my first full stack applications
                        and the modularity and clean organization of the framework has kept me using it since. 
                    </p>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile class="skillsTile">
            <div class="skillsFlex">
                <div class="skillsImageContainer">
                    <img class="skillsImage" src="assets/images/Sql_data_base_with_logo.png" alt="SQL sticker">
                </div>
                <div class="skillsTitle">
                    <h1>SQL</h1> 
                </div>
                <div class="skillsCont">
                    <p>
                        I have multiple years experience using SQL and SQL related databases, including Microsoft SQL Server and MySQL. 
                    </p>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>