.skills {
    background-color: #7fb2ba;
    color: white;
    padding: 5% 10% 2% 10%;
}
#skillsTitle {
    text-align: center;
    font-size: 4em;
    padding-bottom: 0.5em;
}
#skills-subtitle {
    text-align: center;
    font-size: 1.3em;
    padding: 0 0 2% 0;
}
.skillsGrid {
    text-align: center;
}
.skillsFlex {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: justify;
    height: 90%;
}
.skillsImage {
    max-width: 350px;
    height:170px;
    /* background-color: indigo; */
    object-fit: contain;
    /* border-style: groove; */
}
.skillsTitle h1 {
    /* background-color: green; */
    padding: 5% 0 0 0;
    font-size:x-large;
    text-align: center;
}
#skills-link {
    text-decoration: none;
    color: #FFA101;
    transition-duration: .3s;
}
#skills-link:hover{
    font-size: 1em;
    filter: brightness(1.3);
    transition-duration: 0.3s;
}
.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 6em;

}
.skills-content {
    font-size: 1.2em;
}
