html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
.navigation {
    top: 0;
    bottom: 99999999999999999999999;
    z-index: 100;
}

/* Navigation Bar */
#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
    transition-duration: 0.3s;
    height: 5em;
    background-color: transparent;
}
#nav.scrolled {
    background-color: transparent;
    transition-duration: 0.3s;
    height: 3em;
    background-color: #212529;
}

#titleName a {
    color: #FFA101;
    font-weight: bold;
    font-size: larger;
}
#titleName:visited {
    text-decoration: none;
    color: #FFA101;
}


/* Navigation Bar Options */

.navItem {
    transition-duration: 0.1s;
    text-decoration: none;
    color: white;
}
.navItem:hover {
    transition-duration: 0.1s;
    color: #FFA101;
    text-decoration: none;
}

