html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
/* Navigation Bar */
#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    z-index: 100;
}
#titleName a {
    color: #1560bd;
    font-weight: bold;
    font-size: larger;
}
#titleName:visited {
    text-decoration: none;
    color: #1560bd;
}
.navigation {
    top: 0;
    bottom: 99999999999999999999999;
    z-index: 100;
}

/* Navigation Bar Options */

.navItem {
    transition-duration: 0.1s;
    text-decoration: none;
    color: black;;
}
.navItem:hover {
    transition-duration: 0.1s;
    color: #FFA101;
    font-size: 110%;
    text-decoration: none;
}

