<div class="navigation">
    <mat-toolbar id="nav" [ngClass]="{'scrolled': scrollPosition > 300}">
        <div id="titleName"><a id="titleName" href="#nav_home">John Zhu</a></div>
        <div class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}"><a class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}" href="assets/images/John Zhu Resume.pdf">Resume</a></div>
        <div class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}"><a class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}" href="#nav_about">About</a></div>
        <div class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}"><a class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}" href="#nav_skills">Skills</a></div>
        <div class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}"><a class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}" href="#nav_projects">Projects</a></div>
        <div class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}"><a class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}" href="#nav_timeline">Timeline</a></div>
        <div class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}"><a class="navItem" [ngClass]="{'scrolled': scrollPosition > 300}" href="#nav_contact">Contact</a></div>
    </mat-toolbar>
</div>
