<div class="navigation">
    <mat-toolbar id="nav">
        <div id="titleName"><a id="titleName" href="#nav_home">John Zhu</a></div>
        <div class="navItem"><a class="navItem" href="assets/images/John Zhu Resume.pdf">Resume</a></div>
        <div class="navItem"><a class="navItem" href="#nav_about">About</a></div>
        <div class="navItem"><a class="navItem" href="#nav_skills">Skills</a></div>
        <div class="navItem"><a class="navItem" href="#nav_projects">Projects</a></div>
        <div class="navItem"><a class="navItem" href="#nav_contact">Contact</a></div>
    </mat-toolbar>
</div>
