<div class="symbol-bar">
    <div class="symbol-container">
        <img class="symbol-bar-item" src="../../assets/images/UNC_side_icon.png" alt="UNC">
        <p   class="symbol-bar-item" id="shiau-lab-icon"> The Celia Shiau Lab</p>
        <img class="symbol-bar-item" src="../../assets/images/arch-mortgage-logo-vector.png" alt="ARCH MI">
        <img class="symbol-bar-item" src="../../assets/images/ncstate-logo-side.png" alt="NCSTATE">
        <img class="symbol-bar-item" id="climber-icon" src="../../assets/images/carolina_coalition.png" alt="Climbing">
        <img class="symbol-bar-item" src="../../assets/images/North-Carolina-icon.png" alt="NC">
    </div>
</div>
